.user-msg {
    position: fixed;
    top: 13px;
    right: 10px;

    display: flex;
    align-items: center;
    gap: 1em;

    padding: 10px;
    background-color: grey;
    border-radius: .5em;

    color: white;
    font-size: .9em;
}

.user-msg button {
    width: 20px;
    aspect-ratio: 1;

    border: none;
    border-radius: 50%;

    line-height: 1.1;
}

.success {
    background-color: darkcyan;
}

.danger {
    background-color: orangered;
}