*, *::before, *::after {
    box-sizing: border-box;
}

img, video, picture, svg {
    max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea, button, select {
    min-width: 0;
    font-family: inherit;
}